@import 'mixins-media-standard';

body {
  background-color: black;
  display: flex;
  text-align: center;
  flex-direction: column;

  margin: 0;
  padding: 0;

  transition: 1s;
  text-align: center;
  text-decoration: unset;

  font-size: 10px;

  @include sm-min() {
    .some-class {
      display: none;
    }
  }
}

h1 {
  display: flex;
  justify-content: center;

  text-align: center;

  color: blue;
  border-color: red 1px;
}
