body {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  display: flex;
  text-align: center;
  flex-direction: column;
  order: 1;
  margin: 0;
  padding: 0;
  transition: 1s;
  text-align: center;
  text-decoration: unset;
  font-size: 10px;
}

h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: blue;
  border-color: red 1px;
}

@media (min-width: 576px) {
  body .some-class {
    display: none;
  }
}

@media (max-width: 575.8px) {
  body .some-class {
    display: none;
  }
}